<h1> Index Hotels </h1>

<%= link_to 'Cities', admin_country_cities_path(:country_id) %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>
<% @hotels.each do |hotel| %>
	<%= hotel.name %>
	<%= link_to 'Show', admin_hotel_path(hotel) %>
	<%= link_to 'Edit', edit_admin_hotel_path(hotel) %>
	<%end%>
	<br><br>
	<%= will_paginate @hotels %>