<h1> New Hotel </h1>

<%= link_to 'Cities', admin_country_cities_path(:country_id) %>
<%= ' | ' %>
<%= link_to 'All Hotels', admin_city_hotels_path(:city_id) %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>
<%= form_with scope: :hotel, url: admin_city_hotels_path, local: true do |f| %>
<%= 'Name:' %><br><br>
<%= f.text_field :name %><br><br>
<%= 'Select Hotel Signboard:' %>
<%= f.file_field :avatar %><br><br>
<%= f.submit %>
<% end %>