<h1> New City </h1>

<%= link_to 'Cities', admin_country_cities_path(:country_id) %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>
<%= form_with scope: :city, url: admin_country_cities_path, local: true do |f| %>
<%= 'Name:' %><br><br>
<%= f.text_field :name %><br><br>
<%= 'Select City Flag:' %>
<%= f.file_field :avatar %><br><br>
<%= f.submit %>
<% end %>