<h1><%= 'Edit ' %>
<%=  @country.name %>
<%= 'Info' %></h1>

<%= link_to 'Countries', continent_countries_path(:continent_id) %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>
<%= form_with model: @country, local: true do |f| %>
<%= 'Name:' %><br><br>
<%= f.text_field :name %><br><br>
<%= f.submit %>
<% end %>