<h1><%= 'Show ' %>
<%= @country.name %>
<%= 'Info' %></h1>
<%= link_to 'All Countries', continent_countries_path(:continen) %>
<%= ' | ' %>
<%= link_to 'New City', new_country_city_path(@country) %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>

<% @country.cities.each do |city| %>
<%= 'Cities:' %><br>
<%= city.name %>
<% end %>
