<h1><%= 'Show' %>
<%= @city.name %>
<%= 'Info' %></h1>
<%= link_to 'New Airport', new_city_airport_path(@city) %>
<%= ' | ' %>
<%= link_to 'Home', root_path %><br><br>

<%= @city.name %>


<br><br><%= link_to 'Back', country_cities_path(:country_id)  %>
