<h1> Index Positions </h1>

<%= link_to 'Hotels', city_hotels_path(:hotel_id) %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>

<% @positions.each do |position| %>
	<%= position.name %>
	<%= link_to 'Show', position %>
	<%= link_to 'Edit', edit_position_path(position) %>
	<%= link_to 'Destroy', position, method: :delete %><br>
<% end %>