<h1><%= 'Edit' %>
<%= @country.name %>
<%= 'Info' %></h1>
<%= form_for @country do |f| %>
	<%= 'Name:' %><br>
	<%= f.text_field :name %><br><br>
	<%= 'Select New Country Flag:' %>
  <%= f.file_field :avatar %><br><br>
	<%= f.submit %>
<% end %>
<br><%= link_to 'Back', countries_path %>