<h1> New Position </h1>

<%= link_to 'Hotels', admin_city_hotels_path(:city_id) %>
<%= ' | ' %>
<%= link_to 'All Positions', admin_hotel_positions_path(:hotel_id) %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>
<%= form_with scope: :position, url: admin_hotel_positions_path, local: true do |f| %>
<%= 'Name:' %><br><br>
<%= f.text_field :name %><br><br>
<%= f.submit %>
<% end %>