<h1> Index Works </h1>

<%= link_to 'Employees', position_employees_path(:position_id) %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>

<% @works.each do |work| %>
	<%= work.name %>
	<%= link_to 'Show', work %>
<% end %>