<h1> Index Employees </h1>

<%= link_to 'Positions', hotel_positions_path(:hotel_id) %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>

<% @employees.each do |employee| %>
	<%= employee.second_name %>
	<%= link_to 'Show', employee %>
<% end %>