<h1> Show Accident Info </h1>

<%= 'City: ' %>
<%= @accident.city %><br>
<%= 'Category: ' %>
<%= @accident.category %><br>
<%= 'Victims: ' %>
<%= @accident.victims %><br>

<%= link_to 'Back', accidents_path %>