<h1> Index Cities </h1>

<%= link_to 'Countries', continent_countries_path(:continent_id) %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>
<% @cities.each do |city| %>
	<%= city.name %>
	<%= link_to 'Show', city %>
	<%= link_to 'Edit', edit_city_path(city) %>
	<%= link_to 'Destroy', city, method: :delete %><br>
	<%end%>