<h1> Edit Product Info </h1>

<%= form_for @products do |f| %>
	<%= 'Name:' %><br>
	<%= f.text_field :name %><br>
	<%= 'Amount:' %><br>
	<%= f.number_field :amount %><br>
	<%= 'Price:' %><br>
	<%= f.number_field :price %><br><br>
	<%= f.submit %>
<% end %>