<h1> Show Product Info </h1>

<%= 'Name:' %><br>
<%= @products.name %><br>
<%= 'Amount:' %><br>
<%= @products.amount %><br>
<%= 'Price:' %><br>
<%= @products.price %><br><br>
<%= link_to 'Back', products_path %>