<h1> Edit Customers Info </h1>

<%= form_for @customers do |f| %>
	<%= 'Name: ' %><br>
	<%= f.text_field :name %><br>
	<%= 'Product: ' %><br>
	<%= f.text_field :product %><br>
	<%= 'Price: ' %><br>
	<%= f.number_field :price %><br><br>
	<%= f.submit %><br>
<% end %>