<h1> New Customer </h1>

<%= form_for @customers do |f| %>
	<%= 'Name: ' %><br>
	<%= f.text_field :name %><br>
	<%= 'Product: ' %><br>
	<%= f.text_field :product %><br>
	<%= 'Total price: ' %><br>
	<%= f.number_field :price %><br><br>
	<%= f.submit %>
<% end %>