<h1> Show Customer Info </h1>

<%= 'Name: ' %><br>
<%= @customers.name %><br>
<%= 'Product: ' %><br>
<%= @customers.product %><br>
<%= 'Total price' %><br>
<%= @customers.price %><br><br>

<%= link_to 'Back', customers_path %>