<h1> New Student </h1>

<%= form_for @student do |f| %>
	<%= 'First name:' %><br>
	<%= f.text_field :first_name %><br>
	<%= 'Second name:' %><br>
	<%= f.text_field :second_name %><br>
	<%= 'Mark:' %><br>
	<%= f.number_field :mark %><br><br>
	<%= f.submit %>
<% end %>