<h1> Show Student Info </h1>

<%= 'First name:' %>
<%= @student.first_name %><br>
<%= 'Second name:' %>
<%= @student.second_name %><br>
<%= 'Mark:' %>
<%= @student.mark %><br>
<%= link_to 'Back', students_path %>