<h1><%= 'Edit ' %>
<%=  @entertainment.kind_of %>
<%= 'Info' %></h1>

<%= link_to 'All Entertainments', hotel_entertainments_path(:hotel_id) %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>
<%= form_with model: @entertainment, local: true do |f| %>
<%= 'Type of entertainment:' %><br><br>
<%= f.text_field :kind_of %><br><br>
<%= f.submit %>
<% end %>