<h1><%= 'Show ' %>
<%= @entertainment.kind_of %>
<%= 'Info' %></h1>

<%= link_to 'All Entertainments', hotel_entertainments_path(:hotel_id) %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>

<%= 'Type of entertainment: ' %>
<%= @entertainment.kind_of %><br>
