<h1> New Hotel </h1>

<%= link_to 'Cities', country_cities_path(:country_id) %>
<%= ' | ' %>
<%= link_to 'All Hotels', city_hotels_path(:city_id) %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>
<%= form_with scope: :hotel, url: city_hotels_path, local: true do |f| %>
<%= 'Name:' %><br><br>
<%= f.text_field :name %><br><br>
<%= f.submit %>
<% end %>