<h1><%= 'Edit ' %>
<%=  @continent.name %>
<%= 'Info' %></h1>

<%= link_to 'Continents', continents_path %>
<%= ' | ' %>
<%= link_to 'Home Page', root_path %><br><br>
<%= form_for @continent do |f| %>
<%= 'Name:' %><br><br>
<%= f.text_field :name %><br><br>
<%= f.submit %>
<% end %>