<h1> Edit Countries </h1>

<%= form_for @country do |f| %>
	<%= 'Name: ' %><br>
  <%= f.text_field :name %><br>
  <%= 'Population: ' %><br>
  <%= f.number_field :population %><br><br>
  <%= f.submit %>
<% end %>