<h1> New Country </h1>

<%= form_for @countries do |f| %>
	<%= 'Name: ' %><br>
	<%= f.text_field :name %><br>
	<%= 'Population: ' %><br>
	<%= f.number_field :population %><br><br>
	<%= f.submit %>
<% end %>